@import '../../__globals.scss';

.l-home {
	@include mainBoxStyle();

	&__content {
		color: $text-color;
		background-color: $secundary-color;
		border-radius: 15px;
		padding: 10px;
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		text-align: center;
		user-select: none;

		figure {
			img {
				object-fit: cover;
				object-position: 0 20%;
				width: 20vw;
				height: 40vh;
				border-radius: 35px;
				border: 5px solid $primary-color;


				@media screen and (max-width: 789px) {
					width: 45vw;
					height: 30vh;
				}
			}

			figcaption {
				font-size: 2rem;

				@media screen and (max-width: 789px) {
					font-size: 3rem;
				}
			}
		}

		p {
			font-size: 1.3rem;
			margin: 5px;
			text-align: center;
			width: max-content;

			@media screen and (max-width: 789px) {
				font-size: 2rem;
			}
		}
	}

	&__curriculum {
		background-color: #1E5128;
		color: $text-color;
		border: solid 3px $primary-color;
		text-decoration: none;
		font-size: 1.5rem;
		margin: 15px 0;
		padding: 15px;
		border-radius: 15px;
		transition: ease-in 0.2s;

		@media screen and (max-width: 789px) {
			font-size: 2.5rem;
		}

		&:hover {
			background-color: #4E9F3D;
		}
	}
}