@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// Colors

// $primary-color: #FFBCD1;
// $secundary-color: #6867AC;
// $title-color: #A267AC;
// $text-color: #F0D9FF;

$primary-color: #8bd450;
$secundary-color: #1d1a2f;
$title-color: #734f9a;
$text-color: #D8E9A8;

// Fonts

$text-font: 'Montserrat', sans-serif;