@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// Colors

$primary-color: #FFBCD1;
$secundary-color: #6867AC;
$title-color: #A267AC;
$text-color: #F0D9FF;

// Fonts

$text-font: 'Montserrat', sans-serif;